In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# to process breast_cancer_diagnosis_desc column
from preprocess_text import MedicalTermsCleaner
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer

# for preprocessing 
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import RobustScaler # chose this because less sensitive to extreme outliers 
from sklearn.compose import ColumnTransformer

from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV

# regression models to test
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import BayesianRidge
from sklearn.linear_model import SGDRegressor # checking that linear models aren't the best option given over 100 features
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR

# for putting everything together 
from sklearn.pipeline import Pipeline

# for metrics
from sklearn.metrics import mean_squared_error

In [19]:
pd.set_option('display.max_columns', None)

In [21]:
# load data 
data = pd.read_csv('train.csv')
data.head()

,patient_id,patient_race,payer_type,patient_state,patient_zip3,Region,Division,patient_age,patient_gender,bmi,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,metastatic_cancer_diagnosis_code,metastatic_first_novel_treatment,metastatic_first_novel_treatment_type,population,density,age_median,age_under_10,age_10_to_19,age_20s,age_30s,age_40s,age_50s,age_60s,age_70s,age_over_80,male,female,married,divorced,never_married,widowed,family_size,family_dual_income,income_household_median,income_household_under_5,income_household_5_to_10,income_household_10_to_15,income_household_15_to_20,income_household_20_to_25,income_household_25_to_35,income_household_35_to_50,income_household_50_to_75,income_household_75_to_100,income_household_100_to_150,income_household_150_over,income_household_six_figure,income_individual_median,home_ownership,housing_units,home_value,rent_median,rent_burden,education_less_highschool,education_highschool,education_some_college,education_bachelors,education_graduate,education_college_or_above,education_stem_degree,labor_force_participation,unemployment_rate,self_employed,farmer,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple,hispanic,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Average of Jan-13,Average of Feb-13,Average of Mar-13,Average of Apr-13,Average of May-13,Average of Jun-13,Average of Jul-13,Average of Aug-13,Average of Sep-13,Average of Oct-13,Average of Nov-13,Average of Dec-13,Average of Jan-14,Average of Feb-14,Average of Mar-14,Average of Apr-14,Average of May-14,Average of Jun-14,Average of Jul-14,Average of Aug-14,Average of Sep-14,Average of Oct-14,Average of Nov-14,Average of Dec-14,Average of Jan-15,Average of Feb-15,Average of Mar-15,Average of Apr-15,Average of May-15,Average of Jun-15,Average of Jul-15,Average of Aug-15,Average of Sep-15,Average of Oct-15,Average of Nov-15,Average of Dec-15,Average of Jan-16,Average of Feb-16,Average of Mar-16,Average of Apr-16,Average of May-16,Average of Jun-16,Average of Jul-16,Average of Aug-16,Average of Sep-16,Average of Oct-16,Average of Nov-16,Average of Dec-16,Average of Jan-17,Average of Feb-17,Average of Mar-17,Average of Apr-17,Average of May-17,Average of Jun-17,Average of Jul-17,Average of Aug-17,Average of Sep-17,Average of Oct-17,Average of Nov-17,Average of Dec-17,Average of Jan-18,Average of Feb-18,Average of Mar-18,Average of Apr-18,Average of May-18,Average of Jun-18,Average of Jul-18,Average of Aug-18,Average of Sep-18,Average of Oct-18,Average of Nov-18,Average of Dec-18,metastatic_diagnosis_period
0,268700,NaN,COMMERCIAL,AR,724,South,West South Central,39,F,NaN,C50912,Malignant neoplasm of unspecified site of left...,C773,NaN,NaN,3924.87,82.63,42.58,11.61,13.03,10.87,11.80,12.29,13.22,13.47,10.07,3.64,51.43,48.57,51.05,16.72,23.57,8.66,3.01,43.99,44483.35,2.21,3.97,8.52,7.08,7.67,13.82,15.14,17.51,11.26,8.90,3.93,12.83,24048.55,72.11,1513.75,87384.33,641.39,27.52,16.55,41.83,28.31,9.21,4.11,13.32,38.78,53.60,5.85,11.82,5.31,92.95,1.73,0.33,0.20,0.03,0.83,3.94,3.03,22.24,19.27,0.42,25.35,8.06,8.11,38.55,39.88,42.75,55.16,65.17,75.98,76.75,76.45,73.67,59.73,45.18,37.43,31.67,33.83,42.35,57.72,67.35,75.92,74.28,79.59,70.84,62.39,41.89,41.46,35.24,31.10,45.50,60.94,68.49,77.69,81.35,76.28,73.32,60.32,51.00,48.37,35.76,42.89,53.21,61.07,66.29,82.78,81.52,79.52,75.61,65.76,53.85,39.56,41.59,49.01,52.28,63.40,67.11,75.78,80.58,76.16,72.91,62.68,49.73,39.80,31.71,41.69,50.22,52.55,74.77,79.96,81.69,78.30,74.56,59.98,42.98,41.18,191
1,484983,White,NaN,IL,629,Midwest,East North Central,55,F,35.36,C50412,Malig neoplasm of upper-outer quadrant of left...,C773,NaN,NaN,2745.39,51.79,43.54,11.22,12.19,11.45,11.01,11.35,14.39,14.15,9.17,5.05,49.32,50.68,49.48,15.42,26.93,8.17,3.17,41.41,51796.79,3.67,3.86,6.58,5.58,5.38,11.02,13.09,19.56,11.76,11.40,8.11,19.51,28028.04,76.71,1113.35,92026.84,638.60,29.37,10.93,35.26,35.33,12.46,6.04,18.49,36.35,52.51,7.45,9.19,5.21,88.75,6.44,0.53,0.19,0.05,0.61,3.42,2.78,20.16,16.94,0.43,26.26,6.93,9.71,34.85,36.15,39.41,54.63,65.41,73.89,74.07,74.37,70.44,57.37,42.15,33.16,26.88,28.36,40.32,56.85,66.84,75.12,72.18,77.08,67.15,58.34,38.55,38.54,32.33,25.62,43.52,58.50,66.81,75.41,78.43,73.88,70.78,58.70,50.50,46.71,32.36,38.76,51.68,58.41,64.10,78.15,79.70,78.33,72.80,63.84,50.35,34.90,39.05,45.80,48.45,60.77,65.89,74.46,79.18,73.13,70.13,59.68,46.52,35.15,28.43,40.01,44.18,49.30,72.87,77.40,77.43,75.83,72.64,58.36,39.68,39.71,33
2,277055,NaN,COMMERCIAL,CA,925,West,Pacific,59,F,NaN,1749,"Malignant neoplasm of breast (female), unspeci...",C773,NaN,NaN,38343.18,700.34,36.28,13.27,15.66,13.49,13.45,12.40,11.58,10.47,6.38,3.28,49.99,50.01,48.81,11.90,34.35,4.95,3.80,52.89,78696.87,2.59,1.81,3.16,3.71,3.23,7.40,10.42,16.83,13.45,19.21,18.23,37.44,32818.54,66.82,10825.83,392600.40,1631.64,35.56,16.25,27.55,33.88,13.92,8.39,22.32,43.37,59.47,7.28,13.21,0.44,53.95,6.41,5.83,0.81,0.38,21.35,11.27,46.88,12.83,12.72,4.58,37.07,8.07,7.75,53.14,55.28,64.75,67.38,73.31,79.49,84.01,83.28,79.88,67.84,61.92,55.69,60.56,60.99,65.16,68.01,74.24,78.87,84.65,82.23,81.75,74.25,63.29,56.28,58.32,62.97,67.61,67.39,68.06,80.43,80.98,85.08,82.01,75.16,59.59,53.24,54.54,63.52,63.72,67.45,69.58,82.02,84.83,84.06,77.85,72.50,64.24,55.52,53.54,58.18,65.45,68.51,71.13,80.71,85.64,84.85,78.14,74.03,65.70,59.28,60.34,57.43,60.97,68.50,70.31,78.61,87.24,85.52,80.75,70.81,62.67,55.58,157
3,320055,Hispanic,MEDICAID,CA,900,West,Pacific,59,F,NaN,C50911,Malignant neoplasm of unsp site of right femal...,C773,NaN,NaN,36054.12,5294.33,36.65,9.76,11.27,17.23,17.44,13.09,12.30,9.41,5.67,3.82,50.51,49.49,33.48,11.30,50.46,4.77,3.44,55.53,69266.69,6.32,2.95,6.81,4.18,4.13,7.84,10.16,14.42,10.48,13.73,18.96,32.69,36053.40,31.50,12949.12,873756.00,1651.15,37.37,22.92,18.24,21.27,23.89,13.69,37.58,41.75,64.39,8.68,21.23,0.01,42.82,12.22,12.70,1.12,0.15,22.14,8.85,45.53,11.90,20.76,14.74,30.71,10.34,3.03,57.88,57.65,60.86,62.77,67.07,68.41,70.69,71.19,72.74,66.41,65.09,60.87,64.30,60.77,63.01,64.37,69.73,68.46,73.62,73.65,75.96,71.83,67.04,59.73,63.27,63.83,67.72,64.39,62.56,69.66,72.21,77.47,76.77,74.50,63.48,57.98,57.69,66.53,61.89,64.86,62.63,70.45,73.09,71.94,72.26,69.56,66.85,58.29,56.08,57.88,63.84,65.03,63.90,68.95,73.58,73.62,72.88,73.84,68.87,66.63,63.75,59.89,59.35,63.34,63.10,67.45,75.86,75.24,71.10,68.95,65.46,59.46,146
4,190386,NaN,COMMERCIAL,CA,934,West,Pacific,71,F,NaN,1748,Malignant neoplasm of other specified sites of...,C7951,NaN,NaN,13700.37,400.48,41.78,10.03,16.43,12.97,11.29,10.09,11.56,13.28,8.78,5.53,51.99,48.01,48.21,11.16,35.60,5.01,3.09,51.88,82314.64,2.74,1.21,2.56,2.59,4.37,6.65,11.11,16.45,12.73,17.57,22.02,39.59,34754.64,58.81,4692.18,602986.80,1631.84,34.58,13.08,21.22,34.58,19.14,12.00,31.14,48.86,55.20,6.39,14.53,1.46,75.58,3.29,3.13,0.92,0.28,7.25,9.56,34.11,11.96,10.34,5.54,23.48,6.54,8.44,51.08,52.29,58.31,60.43,63.65,67.41,68.21,67.95,67.95,61.73,58.04,53.04,58.12,55.83,58.73,59.53,64.20,64.02,68.84,68.18,67.29,67.08,59.49,54.23,55.19,57.03,63.73,60.69,58.19,65.61,67.79,69.57,71.37,68.40,55.45,49.49,54.15,60.98,58.44,62.06,61.68,70.15,69.49,66.71,68.10,64.41,59.72,52.52,51.80,54.20,59.36,60.44,62.41,67.57,71.29,70.83,69.43,65.56,59.60,54.21,57.70,53.60,55.78,59.45,60.24,64.77,69.81,70.13,68.10,65.38,60.72,54.08,286

In [23]:
data.shape

(13173, 152)

In [25]:
data.describe()

,patient_id,patient_zip3,patient_age,bmi,population,density,age_median,age_under_10,age_10_to_19,age_20s,age_30s,age_40s,age_50s,age_60s,age_70s,age_over_80,male,female,married,divorced,never_married,widowed,family_size,family_dual_income,income_household_median,income_household_under_5,income_household_5_to_10,income_household_10_to_15,income_household_15_to_20,income_household_20_to_25,income_household_25_to_35,income_household_35_to_50,income_household_50_to_75,income_household_75_to_100,income_household_100_to_150,income_household_150_over,income_household_six_figure,income_individual_median,home_ownership,housing_units,home_value,rent_median,rent_burden,education_less_highschool,education_highschool,education_some_college,education_bachelors,education_graduate,education_college_or_above,education_stem_degree,labor_force_participation,unemployment_rate,self_employed,farmer,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple,hispanic,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Average of Jan-13,Average of Feb-13,Average of Mar-13,Average of Apr-13,Average of May-13,Average of Jun-13,Average of Jul-13,Average of Aug-13,Average of Sep-13,Average of Oct-13,Average of Nov-13,Average of Dec-13,Average of Jan-14,Average of Feb-14,Average of Mar-14,Average of Apr-14,Average of May-14,Average of Jun-14,Average of Jul-14,Average of Aug-14,Average of Sep-14,Average of Oct-14,Average of Nov-14,Average of Dec-14,Average of Jan-15,Average of Feb-15,Average of Mar-15,Average of Apr-15,Average of May-15,Average of Jun-15,Average of Jul-15,Average of Aug-15,Average of Sep-15,Average of Oct-15,Average of Nov-15,Average of Dec-15,Average of Jan-16,Average of Feb-16,Average of Mar-16,Average of Apr-16,Average of May-16,Average of Jun-16,Average of Jul-16,Average of Aug-16,Average of Sep-16,Average of Oct-16,Average of Nov-16,Average of Dec-16,Average of Jan-17,Average of Feb-17,Average of Mar-17,Average of Apr-17,Average of May-17,Average of Jun-17,Average of Jul-17,Average of Aug-17,Average of Sep-17,Average of Oct-17,Average of Nov-17,Average of Dec-17,Average of Jan-18,Average of Feb-18,Average of Mar-18,Average of Apr-18,Average of May-18,Average of Jun-18,Average of Jul-18,Average of Aug-18,Average of Sep-18,Average of Oct-18,Average of Nov-18,Average of Dec-18,metastatic_diagnosis_period
count,13173.000000,13173.000000,13173.000000,4102.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13168.000000,13168.000000,13168.000000,13168.000000,13168.000000,13168.000000,13168.000000,13168.000000,13168.000000,13168.000000,13168.000000,13168.000000,13168.000000,13168.000000,13168.000000,13173.000000,13168.000000,13173.000000,1.316800e+04,13168.000000,13168.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13168.000000,13168.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13173.000000,13168.000000,13168.000000,13173.000000,13173.000000,13173.000000,13140.000000,13170.000000,13173.000000,13173.000000,13170.000000,13153.000000,13173.000000,13156.000000,13146.000000,13114.000000,13170.000000,13170.000000,13169.000000,13164.000000,13144.000000,12993.000000,13173.000000,13021.000000,13173.000000,13173.000000,13173.000000,13173.000000,13149.000000,13173.000000,13167.000000,13161.000000,13161.00000,13145.000000,13173.000000,13173.000000,13173.000000,13151.000000,13173.000000,13157.000000,13157.000000,13155.000000,13157.000000,13157.000000,13173.000000,13173.000000,13154.000000,13173.000000,13157.000000,13173.000000,13173.000000,13173.000000,13170.000000,13160.000000,13164.000000,13173.000000,13173.000000,13173.000000,13173.000000,13172.000000,13142.000000,13173.000000,13163.000000,13152.000000,13168.000000,13173.000000,13173.000000,13168.000000,13167.000000,13173.000000,13173.000000,13164.000000,13127.000000,13157.000000,13166.000000,13166.000000,13161.000000,13140.000000,13173.000000
mean,555441.784939,568.530859,59.271313,29.168808,20651.373928,1776.872376,40.542676,11.104988,12.857587,13.297375,12.893557,12.063957,13.458827,12.631076,7.670396,4.021445,50.094310,49.905878,47.645569,12.688142,33.819417,5.846155,3.196401,51.800184,74149.173616,3.286397,2.535715,4.159681,3.943212,4.081337,8.428095,11.586349,16.906539,12.671315,15.806551,16.595873,32.402666,36606.228237,65.895238,7589.209077,3.373791e+05,1230.443146,31.233619,11.933390,27.687036,28.874659,19.263585,12.243182,31.506428,43.302040,61.633658,5.943257,13.186546,1.931520,69.975747,11.440878,5.367018,0.880295,0.139133,5.628344,6.569015,18.144554,13.418155,13.417748,4.401387,27.975049,8.511348,7.097288,38.959688,39.218355,44.483714,54.841429,64.484898,72.307275,75.560733,74.047466,69.473466,58.808620,47.098565,38.919349,34.256369,36.708865,43.766486,55.890057,64.994554,72.397563,74.343185,74.317533,69.491319,60.632386,45.586518,42.954875,36.974767,34.759469,47.52108,57.004955,65.244507,72.620689,75.560679,75.125510,72.271894,61.211773,51.595938,47.010274,37.472639,43.529698,51.631609,56.419806,63.375224,73.644230,77.270195,76.562339,71.436420,61.991704,52.612660,40.281865,40.719157,46.279066,48.901873,59.008388,63.444372,72.434105,76.757869,73.938746,70.144358,61.822501,49.864691,40.152299,36.800997,43.061795,46.074308,52.411982,67.932236,73.074635,77.120929,76.281156,71.417027,59.323286,46.100150,42.096213,96.515221
std,259476.503094,275.758485,13.218883,5.752820,13840.379638,3876.061897,4.031027,1.511534,1.952248,3.390472,2.410845,1.248652,1.671822,2.571409,2.138788,1.257552,1.694808,1.694915,7.528704,2.055966,8.126657,1.556496,0.222907,6.696196,20425.924830,1.430226,1.328466,1.751091,1.402426,1.327044,2.212647,2.576229,2.726104,1.849686,3.139121,8.893866,10.980561,8513.235050,14.491534,4967.148033,2.530611e+05,428.828282,4.772054,5.036011,8.058160,5.072259,6.255266,5.984538,11.801702,4.567257,5.977344,1.920640,3.388123,3.194201,17.941299,12.403575,6.635362,2.318380,0.529791,6.194343,3.539595,16.829748,3.698844,5.105035,4.782378,5.089195,4.169557,3.101826,13.339969,13.701362,12.311727,9.525471,6.098297,6.307366,5.293818,5.951861,6.894506,8.166959,11.252402,14.383550,17.630565,17.617165,14.365601,9.154345,6.697788,6.068137,5.978399,5.859982,7.315835,9.001259,12.318052,11.516327,15.403094,19.205324,14.03528,9.204489,6.306477,6.313503,5.747061,6.168244,6.390686,9.372343,9.506538,10.443744,13.126782,13.532730,9.779115,9.225037,6.424771,6.170639,5.909783,5.246549,6.236389,8.112799,9.176596,13.667811,12.611809,11.402153,12.622846,8.165056,7.218949,5.969036,6.064217,6.152335,5.909376,8.173483,12.007462,14.337058,14.943633,14.423773,11.974793,11.069900,6.301740,6.581630,5.335091,5.282156,6.502875,9.261934,12.245594,11.209011,108.969873
min,100043.000000,100.000000,18.000000,15.000000,635.550000,0.920000,20.600000,0.000000,6.310000,5.930000,1.500000,0.800000,0.000000,0.200000,0.000000,0.000000,39.730000,38.400000,0.900000,0.200000,13.440000,0.000000,2.550000,19.310000,29222.000000,0.750000,0.360000,1.020000,1.030000,1.100000,2.650000,1.700000,4.950000,4.730000,4.290000,0.840000,5.690000,4316.000000,15.850000,0.000000,6.062900e+04,448.400000,17.790000,0.000000,0.000000,7.200000,2.470000,2.090000,7.050000,23.910000,30.700000,0.820000,2.260000,0.000000,14.500000,0.080000,0.000000,0.000000,0.000000,0.000000,0.430000,0.060000,4.600000,3.430000,0.000000,12.460000,2.440000,1.200000,6.790000,8.930000,14.000000,29.300000,43.260000,56.630000,60.110000,56.870000,48.110000,39.810000,24.240000,-1.120000,-2.860000,0.390000,13.960000,32.840000,46.650000,51.610000,57.600000,56.560000,42.480000,34.800000,19.000000,15.780000,9.650000,0.390000,21.48000,38.370000,44.950000,55.880000,58.110000,56.370000,46.960000,41.010000,26.880000,16.140000,9.630000,14.550000,29.160000,35.260000,45.330000,55.900000,60.400000,58.120000,50.670000,37.080000,25.950000,9.870000,10.250000,17.490000,20.440000,38.860000,46.060000,53.400000,58.140000,55.430000,49.350000,38.410000,23.170000,8.610000,5.930000,4.100000,22.720000,28.790000,45.880000,53.460000,58.540000,56.200000,51.830000,37.540000,19.150000,15.380000,0.000000
25%,335100.000000,330.000000,50.000000,24.825000,9160.340000,163.150000,37.190000,10.150000,11.650000,11.000000,11.270000,11.350000,12.300000,10.620000,6.010000,3.320000,49.150000,49.050000,42.930000,11.160000,27.270000,4.770000,3.030000,47.732500,61255.110000,2.270000,1.540000,2.900000,2.940000,3.170000,6.990000,9.950000,15.370000,11.350000,13.620000,10.070000,24.575000,31255.740000,56.480000,3381.310000,1.668111e+05,888.920000,28.180000,8.370000,21.640000,25.730000,13.980000,7.530000,21.910000,40.190000,57.960000,4.680000,10.990000,0.040000,56.210000,2.280000,1.050000,0.210000,0.020000,1.310000,3.860000,4.710000,10.330000,9.870000,0.940000,24.870000,5.600000,4.970000,28.040000,27.250000,33.840000,47.130000,60.180000,68.180000,71.750000,69.980000,64.270000,52.560000,37.760000,27.620000,19.240000,20.330000,32.420000,48.100000,59.750000,68.410000,69.350000,70.210000,63.180000,52.640000,35.710000,33.290000,24.260000,18.000000,34.39000,49.530000,61.460000,68.280000,71.010000,70.010000,67.790000,53.780000,44.670000,39.800000,26.620000,32.080000,43.440000,48.850000,58.730000,69.600000,73.360000,73.210000,66.910000,55.550000,45.660000,28.860000,30.350000,37.150000,37.240000,52.390000,57.300000,68.600000,72.780000,69.090000,65.460000,56.130000,39.600000,28.010000,24.100000,31.510000,36.240000,42.900000,63.220000,68.050000,73.170000,72.550000,67.020000,51.970000,35.560000,33.370000,3.000000
50%,555769.000000,557.000000,59.000000,28.580000,18952.780000,700.340000,40.640000,11.000000,12.900000,12.530000,12.400000,12.120000,13.570000,12.520000,7.330000,3.820000,49.980000,50.020000,49.430000,12.720000,32.010000,5.550000,3.160000,52.590000,69729.950000,2.880000,2.200000,3.790000,3.790000,4.040000,8.430000,11.830000,17.080000,12.680000,15.940000,14.650000,30.520000,35211.020000,69.910000,6994.410000,2.411571e+05,1155.430000,30.830000,10.750000,27.480000,29.290000,18.870000,10.780000,29.790000,42.990000,62.780000,5.490000,12.730000,0.450000,70.900000,6.410000,2.820000,0.430000,0.050000,3.520000,5.650000,11.980000,12.960000,12.210000,2.750000,27.790000,7.360000,6.990000,35.410000,36.710000,40.590000,53.650000,63.890000,71.180000,74.460000,72.510000,68.270000,57.170000,43.370000,36.490000,31.100000,34.690000,41.960000,55.350000,64.030000,71.410000,73.960000,73.230000,67.590000,58.050000,41.860000,39.630000,34.300000,33.390000,45.21000,55.410000,64.960000,71.140000,74.720000,74.450000,71.180000,57.610000,48.960000,46.320000,33.120000,39.460000,50.110000,55.780000,61.860000,72.580000,76.480000,76.370000,70.890000,60.210000,49.150000,36.820000,37.940000,44.270000,47.790000,57.600000,62.720000,71.210000,75.780000,72.310000,69.370000,60.650000,46.500000,35.900000,33.930000,42.020000,43.240000,50.290000,66.120000,71.640000,76.650000,76.080000,70.880000,57.450000,42.430000,38.500000,44.000000
75%,780967.000000,832.000000,67.000000,33.000000,30021.280000,1666.520000,42.940000,12.140000,13.910000,14.970000,14.130000,12.860000,14.610000,13.990000,8.840000,4.560000,50.950000,50.850000,52.990000,14.190000,39.290000,6.610000,3.330000,56.160000,83230.640000,4.080000,3.140000,5.090000,4.640000,4.840000,9.920000,13.340000,18.530000,13.960000,18.420000,21.210000,38.790000,39705.730000,77.220000,10939.080000,4.053534e+05,1478.240000,33.630000,15.020000,33.540000,32.370000,23.890000,15.830000,38.720000,46.110000,65.680000,6.810000,15.060000,2.390000,85.750000,16.270000,7.000000,0.780000,0.150000,7.850000,8.850000,27.490000,15.700000,16.410000,5.980000,30.710000,10.390000,8.750000,49.980000,51.180000,57.290000,62.770000,67.930000,75.980000,78.640000,76.420000,73.940000,65.530000,55.370000,48.640000,49.530000,52.510000,56.850000,63.910000,70.160000,76.280000,77.660000,77.520000,75.980000,69.710000,55.530000,52.790000,49.080000,52.720000,59.73000,64.390000,68.800000,77.720000,79.830000,78.640000,76.930000,69.900000,58.490000,54.150000,49.310000,55.270000,60.350000,64.760000,67.130000,78.150000,81.480000,80.290000,75.270000,69.190000,61.000000,52.040000,52.460000,57.340000,61.850000,65.450000,68.570000,75.690000,80.370000,77.560000,74.040000,67.660000,59.890000,50.380000,47.640000,55.122500,58.420000,62.220000,72.590000,77.660000,80.290000,79.130000,75.640000,67.360000,55.730000,50.500000,181.000000
max,999982.000000,995.000000,91.000000,97.000000,71374.130000,29851.690000,54.570000,17.680000,35.300000,62.100000,25.470000,17.820000,21.660000,24.510000,19.000000,18.830000,61.600000,60.280000,66.900000,21.030000,98.900000,20.650000,4.170000,65.640000,164119.200000,19.620000,11.870000,14.280000,12.400000,14.350000,26.550000,24.080000,27.130000,24.800000,27.480000,52.820000,69.030000,88910.500000,90.370000,25922.550000,1.853109e+06,2965.250000,108.600000,34.330000,53.960000,50.130000,41.700000,51.840000,77.820000,73.000000,78.670000,18.800000,25.540000,25.270000,98.440000,69.660000,49.850000,76.930000,14.760000,33.190000,26.430000,91.010000,35.160000,38.350000,26.760000,48.020000,27.570000,25.200000,72.370000,71.000000,70.710000,76.730000,81.450000,91.640000,96.450000,92.330000,86.440000,80.180000,76.610000,74.470000,70.770000,73.250000,72.130000,76.210000,80.570000,90.220000,95.530000,90.170000,87.830000,82.100000,74.560000,72.170000,70.600000,72.170000,75.84000,79.590000,80.900000,92.340000,92.890000,95.260000,98.950000,82.790000,79.130000,77.380000,71.900000,77.700000,74.820000,76.570000,79.610000,94.290000,95.630000,96.090000,85.490000,79.630000,75.550000,75.630000,71.950000,72.400000,73.780000,80.700000,82.130000,92.760000,106.730000,94.480000,85.720000,79.560000,75.310000,71.740000,73.310000,75.040000,71.640000,76.490000,86.570000,90.660000,96.430000,95.770000,89.190000,81.460000,76.300000,73.540000,365.000000

In [37]:
# columns with missing values 
missing = data.isna().sum().reset_index()

In [41]:
missing = missing.rename(columns={0:'count_na'})
missing.head()

           index  count_na
0     patient_id         0
1   patient_race      6657
2     payer_type      1765
3  patient_state         0
4   patient_zip3         0

In [43]:
missing_counts = dict()

for idx, row in missing.iterrows():
    feature = row['index']
    if row['count_na'] > 0:
        missing_counts[feature] = row['count_na']

In [45]:
missing_counts

{'patient_race': 6657,
 'payer_type': 1765,
 'bmi': 9071,
 'metastatic_first_novel_treatment': 13162,
 'metastatic_first_novel_treatment_type': 13162,
 'family_size': 5,
 'family_dual_income': 5,
 'income_household_median': 5,
 'income_household_under_5': 5,
 'income_household_5_to_10': 5,
 'income_household_10_to_15': 5,
 'income_household_15_to_20': 5,
 'income_household_20_to_25': 5,
 'income_household_25_to_35': 5,
 'income_household_35_to_50': 5,
 'income_household_50_to_75': 5,
 'income_household_75_to_100': 5,
 'income_household_100_to_150': 5,
 'income_household_150_over': 5,
 'income_household_six_figure': 5,
 'home_ownership': 5,
 'home_value': 5,
 'rent_median': 5,
 'rent_burden': 5,
 'self_employed': 5,
 'farmer': 5,
 'poverty': 5,
 'limited_english': 5,
 'Average of Jan-13': 33,
 'Average of Feb-13': 3,
 'Average of May-13': 3,
 'Average of Jun-13': 20,
 'Average of Aug-13': 17,
 'Average of Sep-13': 27,
 'Average of Oct-13': 59,
 'Average of Nov-13': 3,
 'Average of Dec-13': 3,
 'Average of Jan-14': 4,
 'Average of Feb-14': 9,
 'Average of Mar-14': 29,
 'Average of Apr-14': 180,
 'Average of Jun-14': 152,
 'Average of Nov-14': 24,
 'Average of Jan-15': 6,
 'Average of Feb-15': 12,
 'Average of Mar-15': 12,
 'Average of Apr-15': 28,
 'Average of Aug-15': 22,
 'Average of Oct-15': 16,
 'Average of Nov-15': 16,
 'Average of Dec-15': 18,
 'Average of Jan-16': 16,
 'Average of Feb-16': 16,
 'Average of May-16': 19,
 'Average of Jul-16': 16,
 'Average of Nov-16': 3,
 'Average of Dec-16': 13,
 'Average of Jan-17': 9,
 'Average of Jun-17': 1,
 'Average of Jul-17': 31,
 'Average of Sep-17': 10,
 'Average of Oct-17': 21,
 'Average of Nov-17': 5,
 'Average of Feb-18': 5,
 'Average of Mar-18': 6,
 'Average of Jun-18': 9,
 'Average of Jul-18': 46,
 'Average of Aug-18': 16,
 'Average of Sep-18': 7,
 'Average of Oct-18': 7,
 'Average of Nov-18': 12,
 'Average of Dec-18': 33}

In [51]:
# get rid of columns where the majority of values are missing 
drop_cols = ['patient_race', 'bmi', 'metastatic_first_novel_treatment', 'metastatic_first_novel_treatment_type']

data.drop(columns=drop_cols, axis=1, inplace=True)
data.head()

,patient_id,payer_type,patient_state,patient_zip3,Region,Division,patient_age,patient_gender,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,metastatic_cancer_diagnosis_code,population,density,age_median,age_under_10,age_10_to_19,age_20s,age_30s,age_40s,age_50s,age_60s,age_70s,age_over_80,male,female,married,divorced,never_married,widowed,family_size,family_dual_income,income_household_median,income_household_under_5,income_household_5_to_10,income_household_10_to_15,income_household_15_to_20,income_household_20_to_25,income_household_25_to_35,income_household_35_to_50,income_household_50_to_75,income_household_75_to_100,income_household_100_to_150,income_household_150_over,income_household_six_figure,income_individual_median,home_ownership,housing_units,home_value,rent_median,rent_burden,education_less_highschool,education_highschool,education_some_college,education_bachelors,education_graduate,education_college_or_above,education_stem_degree,labor_force_participation,unemployment_rate,self_employed,farmer,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple,hispanic,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Average of Jan-13,Average of Feb-13,Average of Mar-13,Average of Apr-13,Average of May-13,Average of Jun-13,Average of Jul-13,Average of Aug-13,Average of Sep-13,Average of Oct-13,Average of Nov-13,Average of Dec-13,Average of Jan-14,Average of Feb-14,Average of Mar-14,Average of Apr-14,Average of May-14,Average of Jun-14,Average of Jul-14,Average of Aug-14,Average of Sep-14,Average of Oct-14,Average of Nov-14,Average of Dec-14,Average of Jan-15,Average of Feb-15,Average of Mar-15,Average of Apr-15,Average of May-15,Average of Jun-15,Average of Jul-15,Average of Aug-15,Average of Sep-15,Average of Oct-15,Average of Nov-15,Average of Dec-15,Average of Jan-16,Average of Feb-16,Average of Mar-16,Average of Apr-16,Average of May-16,Average of Jun-16,Average of Jul-16,Average of Aug-16,Average of Sep-16,Average of Oct-16,Average of Nov-16,Average of Dec-16,Average of Jan-17,Average of Feb-17,Average of Mar-17,Average of Apr-17,Average of May-17,Average of Jun-17,Average of Jul-17,Average of Aug-17,Average of Sep-17,Average of Oct-17,Average of Nov-17,Average of Dec-17,Average of Jan-18,Average of Feb-18,Average of Mar-18,Average of Apr-18,Average of May-18,Average of Jun-18,Average of Jul-18,Average of Aug-18,Average of Sep-18,Average of Oct-18,Average of Nov-18,Average of Dec-18,metastatic_diagnosis_period
0,268700,COMMERCIAL,AR,724,South,West South Central,39,F,C50912,Malignant neoplasm of unspecified site of left...,C773,3924.87,82.63,42.58,11.61,13.03,10.87,11.80,12.29,13.22,13.47,10.07,3.64,51.43,48.57,51.05,16.72,23.57,8.66,3.01,43.99,44483.35,2.21,3.97,8.52,7.08,7.67,13.82,15.14,17.51,11.26,8.90,3.93,12.83,24048.55,72.11,1513.75,87384.33,641.39,27.52,16.55,41.83,28.31,9.21,4.11,13.32,38.78,53.60,5.85,11.82,5.31,92.95,1.73,0.33,0.20,0.03,0.83,3.94,3.03,22.24,19.27,0.42,25.35,8.06,8.11,38.55,39.88,42.75,55.16,65.17,75.98,76.75,76.45,73.67,59.73,45.18,37.43,31.67,33.83,42.35,57.72,67.35,75.92,74.28,79.59,70.84,62.39,41.89,41.46,35.24,31.10,45.50,60.94,68.49,77.69,81.35,76.28,73.32,60.32,51.00,48.37,35.76,42.89,53.21,61.07,66.29,82.78,81.52,79.52,75.61,65.76,53.85,39.56,41.59,49.01,52.28,63.40,67.11,75.78,80.58,76.16,72.91,62.68,49.73,39.80,31.71,41.69,50.22,52.55,74.77,79.96,81.69,78.30,74.56,59.98,42.98,41.18,191
1,484983,NaN,IL,629,Midwest,East North Central,55,F,C50412,Malig neoplasm of upper-outer quadrant of left...,C773,2745.39,51.79,43.54,11.22,12.19,11.45,11.01,11.35,14.39,14.15,9.17,5.05,49.32,50.68,49.48,15.42,26.93,8.17,3.17,41.41,51796.79,3.67,3.86,6.58,5.58,5.38,11.02,13.09,19.56,11.76,11.40,8.11,19.51,28028.04,76.71,1113.35,92026.84,638.60,29.37,10.93,35.26,35.33,12.46,6.04,18.49,36.35,52.51,7.45,9.19,5.21,88.75,6.44,0.53,0.19,0.05,0.61,3.42,2.78,20.16,16.94,0.43,26.26,6.93,9.71,34.85,36.15,39.41,54.63,65.41,73.89,74.07,74.37,70.44,57.37,42.15,33.16,26.88,28.36,40.32,56.85,66.84,75.12,72.18,77.08,67.15,58.34,38.55,38.54,32.33,25.62,43.52,58.50,66.81,75.41,78.43,73.88,70.78,58.70,50.50,46.71,32.36,38.76,51.68,58.41,64.10,78.15,79.70,78.33,72.80,63.84,50.35,34.90,39.05,45.80,48.45,60.77,65.89,74.46,79.18,73.13,70.13,59.68,46.52,35.15,28.43,40.01,44.18,49.30,72.87,77.40,77.43,75.83,72.64,58.36,39.68,39.71,33
2,277055,COMMERCIAL,CA,925,West,Pacific,59,F,1749,"Malignant neoplasm of breast (female), unspeci...",C773,38343.18,700.34,36.28,13.27,15.66,13.49,13.45,12.40,11.58,10.47,6.38,3.28,49.99,50.01,48.81,11.90,34.35,4.95,3.80,52.89,78696.87,2.59,1.81,3.16,3.71,3.23,7.40,10.42,16.83,13.45,19.21,18.23,37.44,32818.54,66.82,10825.83,392600.40,1631.64,35.56,16.25,27.55,33.88,13.92,8.39,22.32,43.37,59.47,7.28,13.21,0.44,53.95,6.41,5.83,0.81,0.38,21.35,11.27,46.88,12.83,12.72,4.58,37.07,8.07,7.75,53.14,55.28,64.75,67.38,73.31,79.49,84.01,83.28,79.88,67.84,61.92,55.69,60.56,60.99,65.16,68.01,74.24,78.87,84.65,82.23,81.75,74.25,63.29,56.28,58.32,62.97,67.61,67.39,68.06,80.43,80.98,85.08,82.01,75.16,59.59,53.24,54.54,63.52,63.72,67.45,69.58,82.02,84.83,84.06,77.85,72.50,64.24,55.52,53.54,58.18,65.45,68.51,71.13,80.71,85.64,84.85,78.14,74.03,65.70,59.28,60.34,57.43,60.97,68.50,70.31,78.61,87.24,85.52,80.75,70.81,62.67,55.58,157
3,320055,MEDICAID,CA,900,West,Pacific,59,F,C50911,Malignant neoplasm of unsp site of right femal...,C773,36054.12,5294.33,36.65,9.76,11.27,17.23,17.44,13.09,12.30,9.41,5.67,3.82,50.51,49.49,33.48,11.30,50.46,4.77,3.44,55.53,69266.69,6.32,2.95,6.81,4.18,4.13,7.84,10.16,14.42,10.48,13.73,18.96,32.69,36053.40,31.50,12949.12,873756.00,1651.15,37.37,22.92,18.24,21.27,23.89,13.69,37.58,41.75,64.39,8.68,21.23,0.01,42.82,12.22,12.70,1.12,0.15,22.14,8.85,45.53,11.90,20.76,14.74,30.71,10.34,3.03,57.88,57.65,60.86,62.77,67.07,68.41,70.69,71.19,72.74,66.41,65.09,60.87,64.30,60.77,63.01,64.37,69.73,68.46,73.62,73.65,75.96,71.83,67.04,59.73,63.27,63.83,67.72,64.39,62.56,69.66,72.21,77.47,76.77,74.50,63.48,57.98,57.69,66.53,61.89,64.86,62.63,70.45,73.09,71.94,72.26,69.56,66.85,58.29,56.08,57.88,63.84,65.03,63.90,68.95,73.58,73.62,72.88,73.84,68.87,66.63,63.75,59.89,59.35,63.34,63.10,67.45,75.86,75.24,71.10,68.95,65.46,59.46,146
4,190386,COMMERCIAL,CA,934,West,Pacific,71,F,1748,Malignant neoplasm of other specified sites of...,C7951,13700.37,400.48,41.78,10.03,16.43,12.97,11.29,10.09,11.56,13.28,8.78,5.53,51.99,48.01,48.21,11.16,35.60,5.01,3.09,51.88,82314.64,2.74,1.21,2.56,2.59,4.37,6.65,11.11,16.45,12.73,17.57,22.02,39.59,34754.64,58.81,4692.18,602986.80,1631.84,34.58,13.08,21.22,34.58,19.14,12.00,31.14,48.86,55.20,6.39,14.53,1.46,75.58,3.29,3.13,0.92,0.28,7.25,9.56,34.11,11.96,10.34,5.54,23.48,6.54,8.44,51.08,52.29,58.31,60.43,63.65,67.41,68.21,67.95,67.95,61.73,58.04,53.04,58.12,55.83,58.73,59.53,64.20,64.02,68.84,68.18,67.29,67.08,59.49,54.23,55.19,57.03,63.73,60.69,58.19,65.61,67.79,69.57,71.37,68.40,55.45,49.49,54.15,60.98,58.44,62.06,61.68,70.15,69.49,66.71,68.10,64.41,59.72,52.52,51.80,54.20,59.36,60.44,62.41,67.57,71.29,70.83,69.43,65.56,59.60,54.21,57.70,53.60,55.78,59.45,60.24,64.77,69.81,70.13,68.10,65.38,60.72,54.08,286

In [53]:
# curious if the rows with missing values for demographic data are the same 5 rows 

missing_demo = data[data['family_size'].isna()]
missing_demo

,patient_id,payer_type,patient_state,patient_zip3,Region,Division,patient_age,patient_gender,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,metastatic_cancer_diagnosis_code,population,density,age_median,age_under_10,age_10_to_19,age_20s,age_30s,age_40s,age_50s,age_60s,age_70s,age_over_80,male,female,married,divorced,never_married,widowed,family_size,family_dual_income,income_household_median,income_household_under_5,income_household_5_to_10,income_household_10_to_15,income_household_15_to_20,income_household_20_to_25,income_household_25_to_35,income_household_35_to_50,income_household_50_to_75,income_household_75_to_100,income_household_100_to_150,income_household_150_over,income_household_six_figure,income_individual_median,home_ownership,housing_units,home_value,rent_median,rent_burden,education_less_highschool,education_highschool,education_some_college,education_bachelors,education_graduate,education_college_or_above,education_stem_degree,labor_force_participation,unemployment_rate,self_employed,farmer,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple,hispanic,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Average of Jan-13,Average of Feb-13,Average of Mar-13,Average of Apr-13,Average of May-13,Average of Jun-13,Average of Jul-13,Average of Aug-13,Average of Sep-13,Average of Oct-13,Average of Nov-13,Average of Dec-13,Average of Jan-14,Average of Feb-14,Average of Mar-14,Average of Apr-14,Average of May-14,Average of Jun-14,Average of Jul-14,Average of Aug-14,Average of Sep-14,Average of Oct-14,Average of Nov-14,Average of Dec-14,Average of Jan-15,Average of Feb-15,Average of Mar-15,Average of Apr-15,Average of May-15,Average of Jun-15,Average of Jul-15,Average of Aug-15,Average of Sep-15,Average of Oct-15,Average of Nov-15,Average of Dec-15,Average of Jan-16,Average of Feb-16,Average of Mar-16,Average of Apr-16,Average of May-16,Average of Jun-16,Average of Jul-16,Average of Aug-16,Average of Sep-16,Average of Oct-16,Average of Nov-16,Average of Dec-16,Average of Jan-17,Average of Feb-17,Average of Mar-17,Average of Apr-17,Average of May-17,Average of Jun-17,Average of Jul-17,Average of Aug-17,Average of Sep-17,Average of Oct-17,Average of Nov-17,Average of Dec-17,Average of Jan-18,Average of Feb-18,Average of Mar-18,Average of Apr-18,Average of May-18,Average of Jun-18,Average of Jul-18,Average of Aug-18,Average of Sep-18,Average of Oct-18,Average of Nov-18,Average of Dec-18,metastatic_diagnosis_period
3985,757384,COMMERCIAL,TX,772,South,West South Central,43,F,C50911,Malignant neoplasm of unsp site of right femal...,C773,4459.0,3376.1,20.6,0.0,35.3,62.1,1.5,0.8,0.0,0.2,0.0,0.0,47.1,52.9,0.9,0.2,98.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4316.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,44.8,41.7,13.5,55.2,73.0,30.7,18.8,NaN,NaN,47.6,23.0,20.1,0.0,0.0,1.7,7.6,18.2,4.6,NaN,NaN,16.2,4.5,1.6,52.36,56.4,59.25,66.05,73.87,82.56,82.95,84.99,81.4,70.52,56.23,49.51,47.31,53.35,57.7,67.66,73.92,84.1,82.81,83.57,79.69,71.54,56.36,55.84,49.87,51.02,59.94,71.24,74.85,80.84,85.18,84.81,80.69,73.54,62.15,58.43,51.56,58.81,64.94,69.85,75.39,82.04,87.24,83.8,82.73,75.83,67.04,56.38,58.15,65.85,67.7,71.45,75.51,81.86,85.63,83.71,79.54,70.17,65.8,51.79,46.29,57.91,66.5,65.66,79.57,84.9,85.55,85.06,80.93,71.28,56.46,53.85,40
4404,367375,COMMERCIAL,TX,772,South,West South Central,61,F,1743,Malignant neoplasm of lower-inner quadrant of ...,C7951,4459.0,3376.1,20.6,0.0,35.3,62.1,1.5,0.8,0.0,0.2,0.0,0.0,47.1,52.9,0.9,0.2,98.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4316.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,44.8,41.7,13.5,55.2,73.0,30.7,18.8,NaN,NaN,47.6,23.0,20.1,0.0,0.0,1.7,7.6,18.2,4.6,NaN,NaN,16.2,4.5,1.6,52.36,56.4,59.25,66.05,73.87,82.56,82.95,84.99,81.4,70.52,56.23,49.51,47.31,53.35,57.7,67.66,73.92,84.1,82.81,83.57,79.69,71.54,56.36,55.84,49.87,51.02,59.94,71.24,74.85,80.84,85.18,84.81,80.69,73.54,62.15,58.43,51.56,58.81,64.94,69.85,75.39,82.04,87.24,83.8,82.73,75.83,67.04,56.38,58.15,65.85,67.7,71.45,75.51,81.86,85.63,83.71,79.54,70.17,65.8,51.79,46.29,57.91,66.5,65.66,79.57,84.9,85.55,85.06,80.93,71.28,56.46,53.85,36
6397,749144,COMMERCIAL,TX,772,South,West South Central,61,F,C50412,Malig neoplasm of upper-outer quadrant of left...,C773,4459.0,3376.1,20.6,0.0,35.3,62.1,1.5,0.8,0.0,0.2,0.0,0.0,47.1,52.9,0.9,0.2,98.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4316.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,44.8,41.7,13.5,55.2,73.0,30.7,18.8,NaN,NaN,47.6,23.0,20.1,0.0,0.0,1.7,7.6,18.2,4.6,NaN,NaN,16.2,4.5,1.6,52.36,56.4,59.25,66.05,73.87,82.56,82.95,84.99,81.4,70.52,56.23,49.51,47.31,53.35,57.7,67.66,73.92,84.1,82.81,83.57,79.69,71.54,56.36,55.84,49.87,51.02,59.94,71.24,74.85,80.84,85.18,84.81,80.69,73.54,62.15,58.43,51.56,58.81,64.94,69.85,75.39,82.04,87.24,83.8,82.73,75.83,67.04,56.38,58.15,65.85,67.7,71.45,75.51,81.86,85.63,83.71,79.54,70.17,65.8,51.79,46.29,57.91,66.5,65.66,79.57,84.9,85.55,85.06,80.93,71.28,56.46,53.85,0
8028,433905,COMMERCIAL,TX,772,South,West South Central,62,F,C50911,Malignant neoplasm of unsp site of right femal...,C773,4459.0,3376.1,20.6,0.0,35.3,62.1,1.5,0.8,0.0,0.2,0.0,0.0,47.1,52.9,0.9,0.2,98.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4316.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,44.8,41.7,13.5,55.2,73.0,30.7,18.8,NaN,NaN,47.6,23.0,20.1,0.0,0.0,1.7,7.6,18.2,4.6,NaN,NaN,16.2,4.5,1.6,52.36,56.4,59.25,66.05,73.87,82.56,82.95,84.99,81.4,70.52,56.23,49.51,47.31,53.35,57.7,67.66,73.92,84.1,82.81,83.57,79.69,71.54,56.36,55.84,49.87,51.02,59.94,71.24,74.85,80.84,85.18,84.81,80.69,73.54,62.15,58.43,51.56,58.81,64.94,69.85,75.39,82.04,87.24,83.8,82.73,75.83,67.04,56.38,58.15,65.85,67.7,71.45,75.51,81.86,85.63,83.71,79.54,70.17,65.8,51.79,46.29,57.91,66.5,65.66,79.57,84.9,85.55,85.06,80.93,71.28,56.46,53.85,36
12209,377675,COMMERCIAL,TX,772,South,West South Central,71,F,C50912,Malignant neoplasm of unspecified site of left...,C7800,4459.0,3376.1,20.6,0.0,35.3,62.1,1.5,0.8,0.0,0.2,0.0,0.0,47.1,52.9,0.9,0.2,98.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4316.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,44.8,41.7,13.5,55.2,73.0,30.7,18.8,NaN,NaN,47.6,23.0,20.1,0.0,0.0,1.7,7.6,18.2,4.6,NaN,NaN,16.2,4.5,1.6,52.36,56.4,59.25,66.05,73.87,82.56,82.95,84.99,81.4,70.52,56.23,49.51,47.31,53.35,57.7,67.66,73.92,84.1,82.81,83.57,79.69,71.54,56.36,55.84,49.87,51.02,59.94,71.24,74.85,80.84,85.18,84.81,80.69,73.54,62.15,58.43,51.56,58.81,64.94,69.85,75.39,82.04,87.24,83.8,82.73,75.83,67.04,56.38,58.15,65.85,67.7,71.45,75.51,81.86,85.63,83.71,79.54,70.17,65.8,51.79,46.29,57.91,66.5,65.66,79.57,84.9,85.55,85.06,80.93,71.28,56.46,53.85,47

In [55]:
# interesting, it's all for patient_zip3 == 772 
# are there other patients with zip3 == 772? if so, we can just fill the NaNs for this row with the same info

data_772 = data[data['patient_zip3']==772]
data_772.head()

,patient_id,payer_type,patient_state,patient_zip3,Region,Division,patient_age,patient_gender,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,metastatic_cancer_diagnosis_code,population,density,age_median,age_under_10,age_10_to_19,age_20s,age_30s,age_40s,age_50s,age_60s,age_70s,age_over_80,male,female,married,divorced,never_married,widowed,family_size,family_dual_income,income_household_median,income_household_under_5,income_household_5_to_10,income_household_10_to_15,income_household_15_to_20,income_household_20_to_25,income_household_25_to_35,income_household_35_to_50,income_household_50_to_75,income_household_75_to_100,income_household_100_to_150,income_household_150_over,income_household_six_figure,income_individual_median,home_ownership,housing_units,home_value,rent_median,rent_burden,education_less_highschool,education_highschool,education_some_college,education_bachelors,education_graduate,education_college_or_above,education_stem_degree,labor_force_participation,unemployment_rate,self_employed,farmer,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple,hispanic,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Average of Jan-13,Average of Feb-13,Average of Mar-13,Average of Apr-13,Average of May-13,Average of Jun-13,Average of Jul-13,Average of Aug-13,Average of Sep-13,Average of Oct-13,Average of Nov-13,Average of Dec-13,Average of Jan-14,Average of Feb-14,Average of Mar-14,Average of Apr-14,Average of May-14,Average of Jun-14,Average of Jul-14,Average of Aug-14,Average of Sep-14,Average of Oct-14,Average of Nov-14,Average of Dec-14,Average of Jan-15,Average of Feb-15,Average of Mar-15,Average of Apr-15,Average of May-15,Average of Jun-15,Average of Jul-15,Average of Aug-15,Average of Sep-15,Average of Oct-15,Average of Nov-15,Average of Dec-15,Average of Jan-16,Average of Feb-16,Average of Mar-16,Average of Apr-16,Average of May-16,Average of Jun-16,Average of Jul-16,Average of Aug-16,Average of Sep-16,Average of Oct-16,Average of Nov-16,Average of Dec-16,Average of Jan-17,Average of Feb-17,Average of Mar-17,Average of Apr-17,Average of May-17,Average of Jun-17,Average of Jul-17,Average of Aug-17,Average of Sep-17,Average of Oct-17,Average of Nov-17,Average of Dec-17,Average of Jan-18,Average of Feb-18,Average of Mar-18,Average of Apr-18,Average of May-18,Average of Jun-18,Average of Jul-18,Average of Aug-18,Average of Sep-18,Average of Oct-18,Average of Nov-18,Average of Dec-18,metastatic_diagnosis_period
3985,757384,COMMERCIAL,TX,772,South,West South Central,43,F,C50911,Malignant neoplasm of unsp site of right femal...,C773,4459.0,3376.1,20.6,0.0,35.3,62.1,1.5,0.8,0.0,0.2,0.0,0.0,47.1,52.9,0.9,0.2,98.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4316.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,44.8,41.7,13.5,55.2,73.0,30.7,18.8,NaN,NaN,47.6,23.0,20.1,0.0,0.0,1.7,7.6,18.2,4.6,NaN,NaN,16.2,4.5,1.6,52.36,56.4,59.25,66.05,73.87,82.56,82.95,84.99,81.4,70.52,56.23,49.51,47.31,53.35,57.7,67.66,73.92,84.1,82.81,83.57,79.69,71.54,56.36,55.84,49.87,51.02,59.94,71.24,74.85,80.84,85.18,84.81,80.69,73.54,62.15,58.43,51.56,58.81,64.94,69.85,75.39,82.04,87.24,83.8,82.73,75.83,67.04,56.38,58.15,65.85,67.7,71.45,75.51,81.86,85.63,83.71,79.54,70.17,65.8,51.79,46.29,57.91,66.5,65.66,79.57,84.9,85.55,85.06,80.93,71.28,56.46,53.85,40
4404,367375,COMMERCIAL,TX,772,South,West South Central,61,F,1743,Malignant neoplasm of lower-inner quadrant of ...,C7951,4459.0,3376.1,20.6,0.0,35.3,62.1,1.5,0.8,0.0,0.2,0.0,0.0,47.1,52.9,0.9,0.2,98.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4316.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,44.8,41.7,13.5,55.2,73.0,30.7,18.8,NaN,NaN,47.6,23.0,20.1,0.0,0.0,1.7,7.6,18.2,4.6,NaN,NaN,16.2,4.5,1.6,52.36,56.4,59.25,66.05,73.87,82.56,82.95,84.99,81.4,70.52,56.23,49.51,47.31,53.35,57.7,67.66,73.92,84.1,82.81,83.57,79.69,71.54,56.36,55.84,49.87,51.02,59.94,71.24,74.85,80.84,85.18,84.81,80.69,73.54,62.15,58.43,51.56,58.81,64.94,69.85,75.39,82.04,87.24,83.8,82.73,75.83,67.04,56.38,58.15,65.85,67.7,71.45,75.51,81.86,85.63,83.71,79.54,70.17,65.8,51.79,46.29,57.91,66.5,65.66,79.57,84.9,85.55,85.06,80.93,71.28,56.46,53.85,36
6397,749144,COMMERCIAL,TX,772,South,West South Central,61,F,C50412,Malig neoplasm of upper-outer quadrant of left...,C773,4459.0,3376.1,20.6,0.0,35.3,62.1,1.5,0.8,0.0,0.2,0.0,0.0,47.1,52.9,0.9,0.2,98.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4316.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,44.8,41.7,13.5,55.2,73.0,30.7,18.8,NaN,NaN,47.6,23.0,20.1,0.0,0.0,1.7,7.6,18.2,4.6,NaN,NaN,16.2,4.5,1.6,52.36,56.4,59.25,66.05,73.87,82.56,82.95,84.99,81.4,70.52,56.23,49.51,47.31,53.35,57.7,67.66,73.92,84.1,82.81,83.57,79.69,71.54,56.36,55.84,49.87,51.02,59.94,71.24,74.85,80.84,85.18,84.81,80.69,73.54,62.15,58.43,51.56,58.81,64.94,69.85,75.39,82.04,87.24,83.8,82.73,75.83,67.04,56.38,58.15,65.85,67.7,71.45,75.51,81.86,85.63,83.71,79.54,70.17,65.8,51.79,46.29,57.91,66.5,65.66,79.57,84.9,85.55,85.06,80.93,71.28,56.46,53.85,0
8028,433905,COMMERCIAL,TX,772,South,West South Central,62,F,C50911,Malignant neoplasm of unsp site of right femal...,C773,4459.0,3376.1,20.6,0.0,35.3,62.1,1.5,0.8,0.0,0.2,0.0,0.0,47.1,52.9,0.9,0.2,98.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4316.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,44.8,41.7,13.5,55.2,73.0,30.7,18.8,NaN,NaN,47.6,23.0,20.1,0.0,0.0,1.7,7.6,18.2,4.6,NaN,NaN,16.2,4.5,1.6,52.36,56.4,59.25,66.05,73.87,82.56,82.95,84.99,81.4,70.52,56.23,49.51,47.31,53.35,57.7,67.66,73.92,84.1,82.81,83.57,79.69,71.54,56.36,55.84,49.87,51.02,59.94,71.24,74.85,80.84,85.18,84.81,80.69,73.54,62.15,58.43,51.56,58.81,64.94,69.85,75.39,82.04,87.24,83.8,82.73,75.83,67.04,56.38,58.15,65.85,67.7,71.45,75.51,81.86,85.63,83.71,79.54,70.17,65.8,51.79,46.29,57.91,66.5,65.66,79.57,84.9,85.55,85.06,80.93,71.28,56.46,53.85,36
12209,377675,COMMERCIAL,TX,772,South,West South Central,71,F,C50912,Malignant neoplasm of unspecified site of left...,C7800,4459.0,3376.1,20.6,0.0,35.3,62.1,1.5,0.8,0.0,0.2,0.0,0.0,47.1,52.9,0.9,0.2,98.9,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4316.0,NaN,0.0,NaN,NaN,NaN,0.0,0.0,44.8,41.7,13.5,55.2,73.0,30.7,18.8,NaN,NaN,47.6,23.0,20.1,0.0,0.0,1.7,7.6,18.2,4.6,NaN,NaN,16.2,4.5,1.6,52.36,56.4,59.25,66.05,73.87,82.56,82.95,84.99,81.4,70.52,56.23,49.51,47.31,53.35,57.7,67.66,73.92,84.1,82.81,83.57,79.69,71.54,56.36,55.84,49.87,51.02,59.94,71.24,74.85,80.84,85.18,84.81,80.69,73.54,62.15,58.43,51.56,58.81,64.94,69.85,75.39,82.04,87.24,83.8,82.73,75.83,67.04,56.38,58.15,65.85,67.7,71.45,75.51,81.86,85.63,83.71,79.54,70.17,65.8,51.79,46.29,57.91,66.5,65.66,79.57,84.9,85.55,85.06,80.93,71.28,56.46,53.85,47

In [59]:
data_772.shape

(5, 148)

In [61]:
# however, 772 is for Houston, and 770 is also for Houston, so maybe we can use this zip3 to fill in the NAs instead?

data_770 = data[data['patient_zip3']==770]
data_770.shape

(121, 148)

In [63]:
data_770.head()

,patient_id,payer_type,patient_state,patient_zip3,Region,Division,patient_age,patient_gender,breast_cancer_diagnosis_code,breast_cancer_diagnosis_desc,metastatic_cancer_diagnosis_code,population,density,age_median,age_under_10,age_10_to_19,age_20s,age_30s,age_40s,age_50s,age_60s,age_70s,age_over_80,male,female,married,divorced,never_married,widowed,family_size,family_dual_income,income_household_median,income_household_under_5,income_household_5_to_10,income_household_10_to_15,income_household_15_to_20,income_household_20_to_25,income_household_25_to_35,income_household_35_to_50,income_household_50_to_75,income_household_75_to_100,income_household_100_to_150,income_household_150_over,income_household_six_figure,income_individual_median,home_ownership,housing_units,home_value,rent_median,rent_burden,education_less_highschool,education_highschool,education_some_college,education_bachelors,education_graduate,education_college_or_above,education_stem_degree,labor_force_participation,unemployment_rate,self_employed,farmer,race_white,race_black,race_asian,race_native,race_pacific,race_other,race_multiple,hispanic,disabled,poverty,limited_english,commute_time,health_uninsured,veteran,Average of Jan-13,Average of Feb-13,Average of Mar-13,Average of Apr-13,Average of May-13,Average of Jun-13,Average of Jul-13,Average of Aug-13,Average of Sep-13,Average of Oct-13,Average of Nov-13,Average of Dec-13,Average of Jan-14,Average of Feb-14,Average of Mar-14,Average of Apr-14,Average of May-14,Average of Jun-14,Average of Jul-14,Average of Aug-14,Average of Sep-14,Average of Oct-14,Average of Nov-14,Average of Dec-14,Average of Jan-15,Average of Feb-15,Average of Mar-15,Average of Apr-15,Average of May-15,Average of Jun-15,Average of Jul-15,Average of Aug-15,Average of Sep-15,Average of Oct-15,Average of Nov-15,Average of Dec-15,Average of Jan-16,Average of Feb-16,Average of Mar-16,Average of Apr-16,Average of May-16,Average of Jun-16,Average of Jul-16,Average of Aug-16,Average of Sep-16,Average of Oct-16,Average of Nov-16,Average of Dec-16,Average of Jan-17,Average of Feb-17,Average of Mar-17,Average of Apr-17,Average of May-17,Average of Jun-17,Average of Jul-17,Average of Aug-17,Average of Sep-17,Average of Oct-17,Average of Nov-17,Average of Dec-17,Average of Jan-18,Average of Feb-18,Average of Mar-18,Average of Apr-18,Average of May-18,Average of Jun-18,Average of Jul-18,Average of Aug-18,Average of Sep-18,Average of Oct-18,Average of Nov-18,Average of Dec-18,metastatic_diagnosis_period
24,752174,MEDICARE ADVANTAGE,TX,770,South,West South Central,77,F,C50919,Malignant neoplasm of unsp site of unspecified...,C773,33353.72,1836.73,34.71,13.51,13.54,15.52,15.84,12.8,11.74,9.7,5.05,2.28,49.98,50.02,42.93,12.65,39.89,4.53,3.39,51.24,66076.27,4.08,3.09,4.35,4.47,4.71,10.18,12.72,17.11,10.93,12.79,15.56,28.36,37965.46,49.7,12096.22,247842.7,1193.59,32.92,21.3,22.5,23.68,19.41,13.1,32.51,47.45,66.17,6.71,17.26,0.27,47.42,22.5,7.07,0.52,0.04,11.34,11.12,44.48,9.89,18.73,13.97,27.93,22.54,3.77,53.62,57.57,60.04,65.86,74.01,82.82,83.19,84.39,81.61,71.29,57.74,50.59,48.54,54.11,58.25,68.19,73.46,83.03,82.81,83.96,79.68,72.08,57.28,56.25,49.87,51.89,61.35,71.9,76.12,81.3,85.22,84.29,79.9,73.49,63.61,59.46,51.92,58.94,65.89,69.98,75.39,82.04,86.22,83.8,82.57,75.58,67.2,58.23,59.44,65.98,67.99,71.59,75.64,81.66,85.04,83.61,79.6,71.53,66.63,53.12,47.43,61.48,66.91,66.5,79.54,84.57,84.85,85.09,80.61,72.46,58.14,55.77,118
82,465345,COMMERCIAL,TX,770,South,West South Central,64,F,1749,"Malignant neoplasm of breast (female), unspeci...",C7951,33353.72,1836.73,34.71,13.51,13.54,15.52,15.84,12.8,11.74,9.7,5.05,2.28,49.98,50.02,42.93,12.65,39.89,4.53,3.39,51.24,66076.27,4.08,3.09,4.35,4.47,4.71,10.18,12.72,17.11,10.93,12.79,15.56,28.36,37965.46,49.7,12096.22,247842.7,1193.59,32.92,21.3,22.5,23.68,19.41,13.1,32.51,47.45,66.17,6.71,17.26,0.27,47.42,22.5,7.07,0.52,0.04,11.34,11.12,44.48,9.89,18.73,13.97,27.93,22.54,3.77,53.62,57.57,60.04,65.86,74.01,82.82,83.19,84.39,81.61,71.29,57.74,50.59,48.54,54.11,58.25,68.19,73.46,83.03,82.81,83.96,79.68,72.08,57.28,56.25,49.87,51.89,61.35,71.9,76.12,81.3,85.22,84.29,79.9,73.49,63.61,59.46,51.92,58.94,65.89,69.98,75.39,82.04,86.22,83.8,82.57,75.58,67.2,58.23,59.44,65.98,67.99,71.59,75.64,81.66,85.04,83.61,79.6,71.53,66.63,53.12,47.43,61.48,66.91,66.5,79.54,84.57,84.85,85.09,80.61,72.46,58.14,55.77,81
270,263002,COMMERCIAL,TX,770,South,West South Central,66,F,C50112,Malignant neoplasm of central portion of left ...,C773,33353.72,1836.73,34.71,13.51,13.54,15.52,15.84,12.8,11.74,9.7,5.05,2.28,49.98,50.02,42.93,12.65,39.89,4.53,3.39,51.24,66076.27,4.08,3.09,4.35,4.47,4.71,10.18,12.72,17.11,10.93,12.79,15.56,28.36,37965.46,49.7,12096.22,247842.7,1193.59,32.92,21.3,22.5,23.68,19.41,13.1,32.51,47.45,66.17,6.71,17.26,0.27,47.42,22.5,7.07,0.52,0.04,11.34,11.12,44.48,9.89,18.73,13.97,27.93,22.54,3.77,53.62,57.57,60.04,65.86,74.01,82.82,83.19,84.39,81.61,71.29,57.74,50.59,48.54,54.11,58.25,68.19,73.46,83.03,82.81,83.96,79.68,72.08,57.28,56.25,49.87,51.89,61.35,71.9,76.12,81.3,85.22,84.29,79.9,73.49,63.61,59.46,51.92,58.94,65.89,69.98,75.39,82.04,86.22,83.8,82.57,75.58,67.2,58.23,59.44,65.98,67.99,71.59,75.64,81.66,85.04,83.61,79.6,71.53,66.63,53.12,47.43,61.48,66.91,66.5,79.54,84.57,84.85,85.09,80.61,72.46,58.14,55.77,303
376,964266,MEDICAID,TX,770,South,West South Central,56,F,C50811,Malignant neoplasm of ovrlp sites of right fem...,C799,33353.72,1836.73,34.71,13.51,13.54,15.52,15.84,12.8,11.74,9.7,5.05,2.28,49.98,50.02,42.93,12.65,39.89,4.53,3.39,51.24,66076.27,4.08,3.09,4.35,4.47,4.71,10.18,12.72,17.11,10.93,12.79,15.56,28.36,37965.46,49.7,12096.22,247842.7,1193.59,32.92,21.3,22.5,23.68,19.41,13.1,32.51,47.45,66.17,6.71,17.26,0.27,47.42,22.5,7.07,0.52,0.04,11.34,11.12,44.48,9.89,18.73,13.97,27.93,22.54,3.77,53.62,57.57,60.04,65.86,74.01,82.82,83.19,84.39,81.61,71.29,57.74,50.59,48.54,54.11,58.25,68.19,73.46,83.03,82.81,83.96,79.68,72.08,57.28,56.25,49.87,51.89,61.35,71.9,76.12,81.3,85.22,84.29,79.9,73.49,63.61,59.46,51.92,58.94,65.89,69.98,75.39,82.04,86.22,83.8,82.57,75.58,67.2,58.23,59.44,65.98,67.99,71.59,75.64,81.66,85.04,83.61,79.6,71.53,66.63,53.12,47.43,61.48,66.91,66.5,79.54,84.57,84.85,85.09,80.61,72.46,58.14,55.77,315
474,238793,MEDICARE ADVANTAGE,TX,770,South,West South Central,91,F,C50911,Malignant neoplasm of unsp site of right femal...,C779,33353.72,1836.73,34.71,13.51,13.54,15.52,15.84,12.8,11.74,9.7,5.05,2.28,49.98,50.02,42.93,12.65,39.89,4.53,3.39,51.24,66076.27,4.08,3.09,4.35,4.47,4.71,10.18,12.72,17.11,10.93,12.79,15.56,28.36,37965.46,49.7,12096.22,247842.7,1193.59,32.92,21.3,22.5,23.68,19.41,13.1,32.51,47.45,66.17,6.71,17.26,0.27,47.42,22.5,7.07,0.52,0.04,11.34,11.12,44.48,9.89,18.73,13.97,27.93,22.54,3.77,53.62,57.57,60.04,65.86,74.01,82.82,83.19,84.39,81.61,71.29,57.74,50.59,48.54,54.11,58.25,68.19,73.46,83.03,82.81,83.96,79.68,72.08,57.28,56.25,49.87,51.89,61.35,71.9,76.12,81.3,85.22,84.29,79.9,73.49,63.61,59.46,51.92,58.94,65.89,69.98,75.39,82.04,86.22,83.8,82.57,75.58,67.2,58.23,59.44,65.98,67.99,71.59,75.64,81.66,85.04,83.61,79.6,71.53,66.63,53.12,47.43,61.48,66.91,66.5,79.54,84.57,84.85,85.09,80.61,72.46,58.14,55.77,0

In [67]:
# ok this is a possibility 
# there's also just this one zip3 that is weird *in this particular regard* 
# to be continued

### Visualizations with Yellowbrick: Feature Correlations

In [71]:
from yellowbrick.target import FeatureCorrelation

In [73]:
# as a simple example, let's look at temperatures vs. metastatic_diagnosis_period
# for later, can also add a column for the delta for each month between 2013 and 2018 
# this might be more useful, e.g., will let you know which areas are getting warmer (and potentially at a faster rate)

# first, figure out the relevant column indices
data.shape

(13173, 148)

In [83]:
# we have 72 columns of temperature data
# the last column (147) should be the metastatic_diagnosis_period 

data_last2 = data.iloc[:, 146:148] # slice is not inclusive of the end index, good to know 
data_last2.head()

   Average of Dec-18  metastatic_diagnosis_period
0              41.18                          191
1              39.71                           33
2              55.58                          157
3              59.46                          146
4              54.08                          286

In [87]:
data_first2 = data.iloc[:, 75:77] # expect this to be Jan-13 and Feb-13
data_first2.head()

   Average of Jan-13  Average of Feb-13
0              38.55              39.88
1              34.85              36.15
2              53.14              55.28
3              57.88              57.65
4              51.08              52.29

In [89]:
data_temps = data.iloc[:, 75:147]
data_temps.head()

,Average of Jan-13,Average of Feb-13,Average of Mar-13,Average of Apr-13,Average of May-13,Average of Jun-13,Average of Jul-13,Average of Aug-13,Average of Sep-13,Average of Oct-13,Average of Nov-13,Average of Dec-13,Average of Jan-14,Average of Feb-14,Average of Mar-14,Average of Apr-14,Average of May-14,Average of Jun-14,Average of Jul-14,Average of Aug-14,Average of Sep-14,Average of Oct-14,Average of Nov-14,Average of Dec-14,Average of Jan-15,Average of Feb-15,Average of Mar-15,Average of Apr-15,Average of May-15,Average of Jun-15,Average of Jul-15,Average of Aug-15,Average of Sep-15,Average of Oct-15,Average of Nov-15,Average of Dec-15,Average of Jan-16,Average of Feb-16,Average of Mar-16,Average of Apr-16,Average of May-16,Average of Jun-16,Average of Jul-16,Average of Aug-16,Average of Sep-16,Average of Oct-16,Average of Nov-16,Average of Dec-16,Average of Jan-17,Average of Feb-17,Average of Mar-17,Average of Apr-17,Average of May-17,Average of Jun-17,Average of Jul-17,Average of Aug-17,Average of Sep-17,Average of Oct-17,Average of Nov-17,Average of Dec-17,Average of Jan-18,Average of Feb-18,Average of Mar-18,Average of Apr-18,Average of May-18,Average of Jun-18,Average of Jul-18,Average of Aug-18,Average of Sep-18,Average of Oct-18,Average of Nov-18,Average of Dec-18
0,38.55,39.88,42.75,55.16,65.17,75.98,76.75,76.45,73.67,59.73,45.18,37.43,31.67,33.83,42.35,57.72,67.35,75.92,74.28,79.59,70.84,62.39,41.89,41.46,35.24,31.10,45.50,60.94,68.49,77.69,81.35,76.28,73.32,60.32,51.00,48.37,35.76,42.89,53.21,61.07,66.29,82.78,81.52,79.52,75.61,65.76,53.85,39.56,41.59,49.01,52.28,63.40,67.11,75.78,80.58,76.16,72.91,62.68,49.73,39.80,31.71,41.69,50.22,52.55,74.77,79.96,81.69,78.30,74.56,59.98,42.98,41.18
1,34.85,36.15,39.41,54.63,65.41,73.89,74.07,74.37,70.44,57.37,42.15,33.16,26.88,28.36,40.32,56.85,66.84,75.12,72.18,77.08,67.15,58.34,38.55,38.54,32.33,25.62,43.52,58.50,66.81,75.41,78.43,73.88,70.78,58.70,50.50,46.71,32.36,38.76,51.68,58.41,64.10,78.15,79.70,78.33,72.80,63.84,50.35,34.90,39.05,45.80,48.45,60.77,65.89,74.46,79.18,73.13,70.13,59.68,46.52,35.15,28.43,40.01,44.18,49.30,72.87,77.40,77.43,75.83,72.64,58.36,39.68,39.71
2,53.14,55.28,64.75,67.38,73.31,79.49,84.01,83.28,79.88,67.84,61.92,55.69,60.56,60.99,65.16,68.01,74.24,78.87,84.65,82.23,81.75,74.25,63.29,56.28,58.32,62.97,67.61,67.39,68.06,80.43,80.98,85.08,82.01,75.16,59.59,53.24,54.54,63.52,63.72,67.45,69.58,82.02,84.83,84.06,77.85,72.50,64.24,55.52,53.54,58.18,65.45,68.51,71.13,80.71,85.64,84.85,78.14,74.03,65.70,59.28,60.34,57.43,60.97,68.50,70.31,78.61,87.24,85.52,80.75,70.81,62.67,55.58
3,57.88,57.65,60.86,62.77,67.07,68.41,70.69,71.19,72.74,66.41,65.09,60.87,64.30,60.77,63.01,64.37,69.73,68.46,73.62,73.65,75.96,71.83,67.04,59.73,63.27,63.83,67.72,64.39,62.56,69.66,72.21,77.47,76.77,74.50,63.48,57.98,57.69,66.53,61.89,64.86,62.63,70.45,73.09,71.94,72.26,69.56,66.85,58.29,56.08,57.88,63.84,65.03,63.90,68.95,73.58,73.62,72.88,73.84,68.87,66.63,63.75,59.89,59.35,63.34,63.10,67.45,75.86,75.24,71.10,68.95,65.46,59.46
4,51.08,52.29,58.31,60.43,63.65,67.41,68.21,67.95,67.95,61.73,58.04,53.04,58.12,55.83,58.73,59.53,64.20,64.02,68.84,68.18,67.29,67.08,59.49,54.23,55.19,57.03,63.73,60.69,58.19,65.61,67.79,69.57,71.37,68.40,55.45,49.49,54.15,60.98,58.44,62.06,61.68,70.15,69.49,66.71,68.10,64.41,59.72,52.52,51.80,54.20,59.36,60.44,62.41,67.57,71.29,70.83,69.43,65.56,59.60,54.21,57.70,53.60,55.78,59.45,60.24,64.77,69.81,70.13,68.10,65.38,60.72,54.08

In [91]:
data_temps.shape

(13173, 72)

In [93]:
y = data['metastatic_diagnosis_period']
y.head()

0    191
1     33
2    157
3    146
4    286
Name: metastatic_diagnosis_period, dtype: int64

In [97]:
labels_temps = np.array(data_temps.columns)

In [103]:
# yellowbrick doesn't like missing values 

data_temps_clean = data.iloc[:, 75:]
data_temps_clean.shape

(13173, 73)

In [105]:
data_temps_clean.dropna(axis=0, inplace=True)
data_temps_clean.shape

(12767, 73)

In [111]:
X = data_temps_clean.iloc[:, :72]
X.shape

(12767, 72)

In [113]:
X.head()

,Average of Jan-13,Average of Feb-13,Average of Mar-13,Average of Apr-13,Average of May-13,Average of Jun-13,Average of Jul-13,Average of Aug-13,Average of Sep-13,Average of Oct-13,Average of Nov-13,Average of Dec-13,Average of Jan-14,Average of Feb-14,Average of Mar-14,Average of Apr-14,Average of May-14,Average of Jun-14,Average of Jul-14,Average of Aug-14,Average of Sep-14,Average of Oct-14,Average of Nov-14,Average of Dec-14,Average of Jan-15,Average of Feb-15,Average of Mar-15,Average of Apr-15,Average of May-15,Average of Jun-15,Average of Jul-15,Average of Aug-15,Average of Sep-15,Average of Oct-15,Average of Nov-15,Average of Dec-15,Average of Jan-16,Average of Feb-16,Average of Mar-16,Average of Apr-16,Average of May-16,Average of Jun-16,Average of Jul-16,Average of Aug-16,Average of Sep-16,Average of Oct-16,Average of Nov-16,Average of Dec-16,Average of Jan-17,Average of Feb-17,Average of Mar-17,Average of Apr-17,Average of May-17,Average of Jun-17,Average of Jul-17,Average of Aug-17,Average of Sep-17,Average of Oct-17,Average of Nov-17,Average of Dec-17,Average of Jan-18,Average of Feb-18,Average of Mar-18,Average of Apr-18,Average of May-18,Average of Jun-18,Average of Jul-18,Average of Aug-18,Average of Sep-18,Average of Oct-18,Average of Nov-18,Average of Dec-18
0,38.55,39.88,42.75,55.16,65.17,75.98,76.75,76.45,73.67,59.73,45.18,37.43,31.67,33.83,42.35,57.72,67.35,75.92,74.28,79.59,70.84,62.39,41.89,41.46,35.24,31.10,45.50,60.94,68.49,77.69,81.35,76.28,73.32,60.32,51.00,48.37,35.76,42.89,53.21,61.07,66.29,82.78,81.52,79.52,75.61,65.76,53.85,39.56,41.59,49.01,52.28,63.40,67.11,75.78,80.58,76.16,72.91,62.68,49.73,39.80,31.71,41.69,50.22,52.55,74.77,79.96,81.69,78.30,74.56,59.98,42.98,41.18
1,34.85,36.15,39.41,54.63,65.41,73.89,74.07,74.37,70.44,57.37,42.15,33.16,26.88,28.36,40.32,56.85,66.84,75.12,72.18,77.08,67.15,58.34,38.55,38.54,32.33,25.62,43.52,58.50,66.81,75.41,78.43,73.88,70.78,58.70,50.50,46.71,32.36,38.76,51.68,58.41,64.10,78.15,79.70,78.33,72.80,63.84,50.35,34.90,39.05,45.80,48.45,60.77,65.89,74.46,79.18,73.13,70.13,59.68,46.52,35.15,28.43,40.01,44.18,49.30,72.87,77.40,77.43,75.83,72.64,58.36,39.68,39.71
2,53.14,55.28,64.75,67.38,73.31,79.49,84.01,83.28,79.88,67.84,61.92,55.69,60.56,60.99,65.16,68.01,74.24,78.87,84.65,82.23,81.75,74.25,63.29,56.28,58.32,62.97,67.61,67.39,68.06,80.43,80.98,85.08,82.01,75.16,59.59,53.24,54.54,63.52,63.72,67.45,69.58,82.02,84.83,84.06,77.85,72.50,64.24,55.52,53.54,58.18,65.45,68.51,71.13,80.71,85.64,84.85,78.14,74.03,65.70,59.28,60.34,57.43,60.97,68.50,70.31,78.61,87.24,85.52,80.75,70.81,62.67,55.58
3,57.88,57.65,60.86,62.77,67.07,68.41,70.69,71.19,72.74,66.41,65.09,60.87,64.30,60.77,63.01,64.37,69.73,68.46,73.62,73.65,75.96,71.83,67.04,59.73,63.27,63.83,67.72,64.39,62.56,69.66,72.21,77.47,76.77,74.50,63.48,57.98,57.69,66.53,61.89,64.86,62.63,70.45,73.09,71.94,72.26,69.56,66.85,58.29,56.08,57.88,63.84,65.03,63.90,68.95,73.58,73.62,72.88,73.84,68.87,66.63,63.75,59.89,59.35,63.34,63.10,67.45,75.86,75.24,71.10,68.95,65.46,59.46
4,51.08,52.29,58.31,60.43,63.65,67.41,68.21,67.95,67.95,61.73,58.04,53.04,58.12,55.83,58.73,59.53,64.20,64.02,68.84,68.18,67.29,67.08,59.49,54.23,55.19,57.03,63.73,60.69,58.19,65.61,67.79,69.57,71.37,68.40,55.45,49.49,54.15,60.98,58.44,62.06,61.68,70.15,69.49,66.71,68.10,64.41,59.72,52.52,51.80,54.20,59.36,60.44,62.41,67.57,71.29,70.83,69.43,65.56,59.60,54.21,57.70,53.60,55.78,59.45,60.24,64.77,69.81,70.13,68.10,65.38,60.72,54.08

In [119]:
y = data_temps_clean.iloc[:, -1:]
y.head()

   metastatic_diagnosis_period
0                          191
1                           33
2                          157
3                          146
4                          286

In [121]:
# yellowbrick visualizer 

visualizer = FeatureCorrelation(labels=labels_temps)

visualizer.fit(X, y) # Fit the data to the visualizer
visualizer.show() # Finalize and render the figure

TypeError: ufunc 'isnan' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''